.cards {
  font-family: "Inter", Arial, sans-serif;
  display: grid;
  margin: 35px 0 0;
  padding: 0;
}

.card {
  list-style-type: none;
  padding: 0;
  max-width: 282px;
  border-radius: 20%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  color: black;
}

.card__list {
  display: grid;
  grid-gap: 20px 17px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  padding: 0;
}

.card__image {
  height: 282px;
  width: 282px;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like-icon.svg) center no-repeat;
  border: none;
  min-width: 21px;
  height: 18px;
  padding: 0;
}

.card__like-button:hover {
  opacity: 60%;
  cursor: pointer;
}
