.card {
  list-style-type: none;
  padding: 0;
  max-width: 282px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  color: black;
  position: relative;
}

.card__image {
  height: 282px;
  width: 282px;
  margin: 0;
  object-fit: cover;
}

.card__description {
  display: flex;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like-icon.svg) center no-repeat;
  border: none;
  min-width: 21px;
  height: 18px;
  padding: 0;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_active {
  background: transparent url(../images/like-icon-active.svg) center no-repeat;
  opacity: 1;
}

.card__delete-button {
  background: transparent url(../images/delete-icon.svg) center no-repeat;
  width: 18px;
  height: 19.3px;
  border: none;
  position: absolute;
  z-index: 999;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
