.header {
  max-height: 74px;
  max-width: 100%;
  margin: 45px 0 40px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 28px;
  }
  .header__logo {
    padding-left: 27px;
    width: 126px;
    height: 24px;
  }
}
