.header {
  min-height: 74px;
  max-width: 100%;
  margin: 45px 0 42px;
  padding: 0 0;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    padding-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 28px 0 42px;
    padding: 0;
    min-height: 56px;
  }
  .header__logo {
    padding: 0 0 0 27px;
    width: 126px;
    height: 24px;
  }
}
