.profile {
  margin: 0;
  display: flex;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 24px 0 0;
  object-fit: cover;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description .";
  grid-template-columns: minmax(auto, 375px) auto;
}

.profile__title {
  font-size: 42px;
  line-height: 1.1;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0 0 0 18px;
  grid-area: button;
  border: 1px solid #fff;
  align-self: center;
  border-radius: 2px;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__description {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
  .profile__info {
    position: relative;
    grid-template-columns: auto auto;
  }
  .profile__title {
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .profile__description {
    font-size: 14px;
  }
  .profile__image {
    margin: 0 0 30px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    position: absolute;
  }
  .profile__add-button {
    width: 282px;
    align-self: center;
    margin: 36px 0 0;
  }
}

@media screen and (max-width: 799px) and (min-width: 321px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
  .profile__info {
    position: relative;
    grid-template-columns: auto auto;
  }
  .profile__title {
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .profile__edit-button {
    position: absolute;
  }
  .profile__add-button {
    width: 282px;
    align-self: center;
    padding: 10px;
    margin: 36px auto;
  }
}
