.page {
  background-color: #000;
  color: #fff;
  max-width: 1440px;
  margin: 0 auto;
}

.page__section {
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .page__section {
    width: 100%;
  }
}
